.peoples-main,
.peoples-main * {
  box-sizing: border-box;
}
.peoples-main {
  background: #f04f29;
  height: 650px;
  position: relative;
  overflow: hidden;
}
._2026-peoples-all-rights-reserved {
  color: #000000;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 40px;
}
.soundtrack {
  color: #121212;
  text-align: center;
  font-family: "NotoSansKr-Black", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store {
  color: #121212;
  text-align: center;
  font-family: "NotoSansKr-Black", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dictionary {
  color: #121212;
  text-align: center;
  font-family: "NotoSansKr-Black", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 376px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notes {
  color: #121212;
  text-align: center;
  font-family: "NotoSansKr-Black", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 252px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-stair {
  width: 42.52px;
  height: 99.63px;
  position: absolute;
  left: calc(50% - 159px);
  top: calc(50% - 118px);
  overflow: visible;
}
.vol-0 {
  width: 318px;
  height: 76px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 255px);
  overflow: visible;
  aspect-ratio: 318/76;
}
.title-bg {
  width: 145px;
  height: 25px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 302px);
  overflow: visible;
  aspect-ratio: 145/25;
}
.n-stair {
  width: 42.52px;
  height: 99.63px;
  position: absolute;
  left: calc(50% - -116px);
  top: calc(50% - 118px);
  overflow: visible;
}
