.peoples-dict-eng,
.peoples-dict-eng * {
  box-sizing: border-box;
}
.peoples-dict-eng {
  background: #f7f3ef;
  height: 1250px;
  position: relative;
  overflow: hidden;
}
._2026-peoples-all-rights-reserved {
  color: #000000;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 40px;
}
.promise-the-act-of-two-people-connecting-their-keys-it-is-performed-by-touching-or-clasping-hands {
  color: #121212;
  text-align: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 526px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promise-the-act-of-two-people-connecting-their-keys-it-is-performed-by-touching-or-clasping-hands-span {
  font-family: "NotoSansKr-Black", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 900;
}
.promise-the-act-of-two-people-connecting-their-keys-it-is-performed-by-touching-or-clasping-hands-span2 {
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
}
.a-1-expression-used-to-imply-a-bad-situation-or-for-emphasis-2-short-for-a-n {
  color: #121212;
  text-align: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 843px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-1-expression-used-to-imply-a-bad-situation-or-for-emphasis-2-short-for-a-n-span {
  font-family: "NotoSansKr-Black", sans-serif;
  font-size: 20px;
  line-height: 21px;
  font-weight: 900;
}
.a-1-expression-used-to-imply-a-bad-situation-or-for-emphasis-2-short-for-a-n-span2 {
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
}
.dict-icon {
   width: 330px;
  height: 330px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 625px);
  overflow: visible;
  aspect-ratio: 1;
}
.home-emoji-icon {
  width: 33px;
  height: 34px;
  position: absolute;
  left: calc(50% - -132px);
  top: calc(50% - 286px);
  overflow: visible;
  aspect-ratio: 33/34;
}
.title-bg {
  width: 85px;
  height: 15px;
  position: absolute;
  left: calc(50% - -37px);
  top: calc(50% - 270px);
  overflow: visible;
  aspect-ratio: 85/15;
}
.ml-short-01 {
  margin-top: -2px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 50px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - -133px);
}
.eng-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  left: calc(50% - 123px);
  top: calc(50% - 285px);
  overflow: visible;
  aspect-ratio: 1;
}
.kor-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  left: calc(50% - 165px);
  top: calc(50% - 285px);
  overflow: visible;
  aspect-ratio: 1;
}
.ml-01 {
  margin-top: -2px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 330px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 239px);
}
.ml-02 {
  margin-top: -2px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 330px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 234px);
}
